.gallery-container {
    height: 100%;
    width: 100%;
    background-color: black;
}

.gallery-title {
    display: flex;
    height: 10%;
    color: white;
    font-size: 40px;
    font-weight: 600;
    padding: 12px 32px;
    justify-content: center
}

@media (max-width: 415px) {
    .gallery-title {
        font-size: 30px;
    }
}