.item-container {
  display: flex;
  height: 45%;
  width: 45%;
  position: relative;
}

.image {
  width: 100%;
}

.hover-text {
  color: white;
  font-size: 30px;
  padding: 16px 32px;
}

.middle {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 500px) {
  .item-container {
    height: 30%;
    width: 80%;
  }
}