.item-container {
  display: flex;
  height: 45%;
  width: 45%;
  position: relative;
}

.image {
  width: 100%;
  opacity: 1;
}

.item-container:hover .image{
  opacity: 0.3;
  cursor: pointer;
}

.item-container:hover .middle {
  opacity: 1;
}

.hover-text {
  color: white;
  font-size: 30px;
  padding: 16px 32px;
}

.middle {
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.img-containner {
  display: flex;
}

@media (max-width: 500px) {
  .item-container {
    width: 85%;
    padding: 10px 0px;
  }
  .img-containner {
    display: inline;
  }
  .image {
    height: 225px;
  }
}