.item-container {
  position: relative;
  display: block; }

.image {
  width: 100%;
  height: auto;
  display: block; }

.text {
  color: white;
  font-size: 30px;
  padding: 16px 32px; }

.middle {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.no-padding {
  padding-right: 0;
  padding-left: 0; }
