.exp-title {
  color: white;
  font-size: 40px;
  margin-top: 25px;
  font-weight: 600; }

.grid-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  height: 100%; }

.card-container {
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.ant-card-meta-title {
  color: white;
  font-size: 18px;
  font-weight: 600; }

.ant-card-cover {
  height: 70%; }

.ant-card-meta-description {
  color: white; }

.card {
  width: 40%;
  height: 40%;
  background-color: black;
  border-color: black; }

@media (max-width: 415px) {
  .exp-title {
    font-size: 30px; } }
