.project-img {
    max-width: 350px;
}

.ant-card.ant-card-bordered {
    background-color: #000;
    border-color: #000;
    height: 38%;
    width: 42%;
    padding: 25px;

    .ant-card-cover {
        min-height: 170px;
        max-height: 400px;
    }

    .ant-card-body {
        .ant-card-meta {
            .ant-card-meta-detail {
                .ant-card-meta-title {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 600;
                }
                .ant-card-meta-description {
                    color: #fff;
                }
            }
        }
    }
}

.exp-title {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-top: 25px;
}

.grid-container {
    align-items: center;
    background-color: #000;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
}

.card-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
}

@media (max-width: 500px) {
    .project-img {
        max-width: 275px;
    }

    .card-container {
        margin: 0;
    }

    .ant-card.ant-card-bordered {
        padding: 65px 0;
        width: 75%;

        .ant-card-cover {
            min-height: 100px;
        }

        .ant-card-body {
            padding: 5px 0;
        }
    }

    .exp-title {
        font-size: 30px;
    }
}

@media (min-width: 970px) {
    .ant-card.ant-card-bordered {
        .ant-card-body {
            .ant-card-meta {
                .ant-card-meta-detail {
                    .ant-card-meta-title {
                        font-size: 28px;
                    }
                    .ant-card-meta-description {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}