.exp-title {
    color: white;
    font-size: 40px;
    margin-top: 25px;
    font-weight: 600;
}

.grid-container {
    display: flex;
    min-height: 100%;
    height: auto;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.card-container {
    display: flex;
    margin-top: 60px;
    height: 80%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ant-card-meta-title {
    color: white !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.ant-card-cover {
    height: 70%;
}

.ant-card-meta-description{
    color: white !important;
}

.card {
    width: 42%;
    height: 38%;
    background-color: black !important;
    border-color: black !important;
}

@media (max-width: 500px) {
    .card-container {
        margin: 0;
    }
    .card {
        width: 75%;
        padding: 65px 0px !important;
    }
    .exp-title {
        font-size: 30px;
    }
    .ant-card-body {
        padding: 5px 0px !important;
    }
}

@media (min-width: 970px) {
    .ant-card-meta-title {
        font-size: 28px !important;
    }
    .ant-card-meta-description {
        font-size: 20px !important;
    }
}