.footer {
    display: flex;
    background-color: black !important;
    justify-content: center;
}

.svg-container {
    padding: 10px 32px;
}

.highlight {
    color: deepskyblue;
}

.highlight:hover {
    color: deeppink;
}