.footer {
  background-color: #000 !important;
  display: flex;
  justify-content: center; }

.svg-container {
  padding: 10px 32px; }

.highlight {
  color: #00bfff; }

.highlight:hover {
  color: #ff1493; }
