@import url(~antd/dist/antd.css);
.spin-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; }

.svg-container {
  padding: 10px 30px; }

.footer {
  display: flex;
  background-color: black;
  justify-content: center; }

.highlight {
  color: deepskyblue; }

.highlight:hover {
  color: deeppink; }
